.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Card {
  width: 300px;
  margin: 20px;
}

.Card .posterWrapper {
  position: relative;
  height: 450px;
  width: 300px;
  padding: 50px 10px;
  border: 1px solid black;
}

.Card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 450px;
  opacity: 1;
}

.Card button {
  position: absolute;
  right: 20px;
  top: 0px;

  font-size: 40px;
  color: #555;

  height: 50px;
  width: 50px;
  background-color: #d00;
  border: none;
  outline: none;
  z-index: 3;
}

.textBox {
  position: absolute;
  top: 50;
  left: 0;

  overflow: auto;
  height: 380px;
  overflow: auto;

  padding: 0 15px;
}

.flip-container {
  perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
 transform: rotateY(180deg)
}

.flipper {
  transition: .6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
}

.back{
  transform: rotateY(180deg);
}

