@import url('https://fonts.googleapis.com/css?family=Russo+One');

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.885);
}

header {
  
  background-image: url('./images/popcorn.jpg');
  background-size: 650px;
  background-repeat: repeat-x;
  background-position: center 0px;
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 20px 20px 20px;
}

.heading {
  color: rgb(255, 255, 255);
  font-family: 'Russo One', sans-serif;
  font-size: 35px;  
  display: inline-block;
  top: 10px;
  margin: auto;
  z-index: 3;  
}

.App-intro {
  font-size: large;
}

.logo1,
.logo2 {
  color: #fff;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  display: block;
  background: #000000a1;
  position: absolute;
  left:0;
}

.logo1 {
  top:40px;
  padding: 10px 50px 10px 30px;
}

.logo2 {
  top:100px;
  padding: 10px 50px 10px 30px;
}



.login {
  padding: 10px 30px 10px 75px;
  background: #000000a1;
  border-bottom: 2px solid #000;
  text-decoration: none;
  font-size: 20px;
}

.login:hover {
  border-bottom: 2px solid #fff;
}

.login,
.log-out{
  position: absolute;
  top: 40px; 
  right: 0;
  color: #fff;
}

nav ul{
  margin:0;
  padding:0;
}

nav li{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}

nav h1 {
  padding: 5px 30px 5px 35px;
  background: #000000a1;
  white-space: nowrap;
  margin: 0;
  font-size: 25px;
  border-bottom: 2px solid #000;
}

nav a, 
.view-favs {
  display: inline;
  background: #000000a1;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  border-bottom: 2px solid #000;
  padding: 5px 30px 5px 35px;
  position: relative;
  top: 5px;
  width: auto;
  height: auto;
}

.view-favs {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  padding: 10px 30px 7px 35px;
  top: 22px;
  position: relative;
}

nav a:hover, 
.view-favs:hover {
  border-bottom: 2px solid white;
}

@media screen and (max-width: 360px) {

  header {
    height: 280px;
  }

  .logo1 {
    top:20px;
    padding: 5px 50px 5px 30px;
  }
  
  .logo2 {
    top:70px;
    padding: 5px 50px 5px 30px;
  }

  .login,
  .log-out{
    position: absolute;
    top: 140px; 
    right: 0;
    color: #fff;
  }

}

