@import url('https://fonts.googleapis.com/css?family=Russo+One');

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.885);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

header {
  background-image: url('./images/popcorn.jpg');
  background-size: 690px;
  height: 200px;
  margin-bottom: 10px;
  opacity: 0.6;
  padding: 20px;
  z-index: -1;
}

.heading {
  color: rgb(255, 255, 255);
  font-family: 'Russo One', sans-serif;
  font-size: 35px;  
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 480px;
  width: 30%;
  z-index: 3;  
}

.App-intro {
  font-size: large;
}

.nav {
  color: rgb(169, 0, 0);
  font-size: 18px;
  margin: 0 0 0px 20px;
  position: relative;
  left: 600px;
  top: -190px;
}

.nav:hover {
  color: rgb(255, 2, 2);
}

.active {
  /* For the NavLink, comes default, changes the current page's tab */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
